.Filter {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.Filter__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  text-align: center;
}

.Filter__discription {
  margin-top: 5px;
}

.Filter__list:last-child {
  margin-right: 0;
}

.Filter__discription {
  font-weight: bolder;
  text-decoration: underline;
}
