.image-container {
  position: relative;
  display: inline-block;
}

.image {
  width: 350px;
  height: 250px;
  border-radius: 12px;
}

.bookmark-icon {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.bookmark-icon.bookmarked {
  color: #ffd361;
}

.product,
.topLine,
.priceAndFollower,
.subTitle {
  display: flex;
}
.product {
  justify-content: space-around;
  margin-top: 20px;
}

.topLine {
  justify-content: space-between;
}

.leftText,
.rightText {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.discountPercentage {
  color: #452cdd;
}

.followerCount {
  color: black;
}

.priceAndFollower {
  justify-content: flex-end;
}

.subTitle {
  justify-content: flex-start;
}
