@import "~@fortawesome/fontawesome-free/css/all.css";

.bookmark-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
  color: #000;
}

.item {
  width: 400px;
  height: 350px;
}

.image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

.item-title {
  font-weight: bolder;
}

.right-element {
  color: #452cdd;
}

.whole-wrapper {
  position: relative;
}

.bookmark-button {
  position: absolute;
  top: 89%;
  left: 92%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 600px;
}

.modal-title {
  position: absolute;
  left: 11%;
  bottom: 6%;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.modal-image {
  width: 800px;
  height: 600px;
}

.modal-bookmark-button {
  position: absolute;
  left: 3%;
  bottom: 5%;

  background: none;
  border: none;
  color: white;
  font-size: 40px;
}
