* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

/* Main.js */
.main,
.bookMarkListTitle {
  margin-top: 52px;
}

.productListTitle,
.bookMarkListTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-left: 4%;
}

.menuLink {
  color: black;
  text-decoration: none;
}
