.storybook-button {
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

.icon {
  size: 100px;
}

.storybook-button--primary {
  color: gold;
}

.storybook-button--secondary {
  color: #dadada;
}
